@import url('popup/Stylesheet.css') ;
@import url('UIPoll/Stylesheet.css') ;


body, html, div, table, tr, td, img, form {
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.UIPollPortlet {
	border: solid 1px red;
	width: 100%;	
}